body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color: #ff4081; /* Pink color to match HSM theme */
    margin-top: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 20px auto;
    width: 80%;
    text-align: justify;
    color: #555;
}

div {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

img {
    display: block;
    margin: 20px auto;
    width:70%;
    border-radius: 10px;
}

.section-title {
    text-align: center;
    font-size: 2em;
    color: #333;
}

.intro-text {
    font-size: 1.2em;
    color: #444;
    text-align: center;
}